@import "variables";
@import "typography";

@mixin sm {
  @media (max-width: 900px) {
    @content;
  }
}

body {
  color: $text;
  background-color: $background;
  margin: 0;
}

@import "app";
@import "navbar";
@import "footer";
@import "authforms";
@import "dashboard";
@import "card";
@import "home";
